
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #333;
  box-sizing: border-box;
  /* background: rgba(52, 58, 65, 0.600000);
  backdrop-filter: blur(15px); */
}

/* Jarvis UI Start */
/* body {
  background-color: #011c2d;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
} */
/* button {
  background-color: #64e6ef;
}
input,
select,
input:-internal-autofill-selected {
  border: 1px solid #64e6ef;
  background-color: transparent;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  text-indent: 8px;
} */
input,
select,
input:-internal-autofill-selected {
  border: 1px solid #aaa;
  background-color: transparent;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  text-indent: 8px;
}

.dataTables_length {
  display: none;
}
.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: center;
}
/* Form Elements */
.ui-form-element {
  width: 50%;
  display: inline-block;
}
.form-elements input,
.form-elements select {
  width: 85%;
  display: block;
}
.form-elements form {
  /* width: 50%; */
}
.ui-form-fotter,
.form-elements {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}
table.dataTable {
  border: 0px;
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 500;
  border: 0px;
}

.dataTables_empty {
  display: none;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #999;
}
.ui-form-fotter {
  text-align: center;
  margin: 12px 0px;
}
.blue-btn {
  color: #fff;
  background-color: #5c6bc0;
  border-color: #5c6bc0;
}
button {
  display: inline-block;
  font-weight: 400;
  color: #333;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4375rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.5715;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.ui-edit-form {
  width: 20%;
  float: left;
}
.ui-edit-form input {
  width: 85%;
  display: block;
}
.ui-app-layout,
.ui-data-layout {
  padding: 10px;
  float: left;
}
.card {
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  background-color: #fff;
  background-clip: border-box;
  border: 1pxsolidrgba (0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  float: left;
}
.card h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5715;
  padding: 10px 2px;
  margin: 0px;
}
.col-6,
.col-12 {
  float: left;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
.ui-update-form .card {
  margin-right: 10px;
}
.ui-mainpage {
  width: -webkit-fill-available;
}

table tbody .team {
  font-weight: 500;
}
table tbody .match,
table tbody .league {
  color: #999;
}

/* Common Styles STARTS */
.red {
  background-color: #ef5350;
}
.green {
  background-color: #25b372;
}
.yellow {
  background-color: rgb(255, 255, 174);
}
.ui-button {
  border: 0px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background-color: #f1f2f3;
  display: inline-block;
  text-align: center;
  line-height: 36px;
}
/* Common Styles END */
.ui-search-sec {
  width: 90%;
  margin: 0px auto;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.ui-search-sec input {
  width: 100%;
  font-size: 14px;
  color: #1a1a1a;
  line-height: 20px;
  background: #fff;
  padding: 13px;
  outline: 0;
  border: 1px solid #f1f1f1;
  border-radius: 50px;
  padding-right: 38px;
  margin: 0px;

  float: left;
}

.ui-tab-sec {
  box-shadow: 0px 0px 8px 0px rgb(194 194 194);
  background: #fff;
  border-radius: 8px;
  padding: 12px 0 0 0;
  margin: 15px 0 0 0;
  display: block;
  overflow: hidden;
}
.ui-tab-sec .ui-header {
  padding: 6px 12px;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.ui-tab-sec .ui-body {
  padding: 10px 26px;
}
.ui-tab-sec .ui-footer {
  background-color: rgb(204, 204, 204);
  padding: 6px 12px;
}
.dataTable td.icon img {
  width: 22px;
  display: inline-block;
  white-space: nowrap;
  margin-left: 12px;
  cursor: pointer;
}
table.dataTable tbody tr.odd {
  background-color: #ebebeb;
}
.dataTable td .Win,
.dataTable td .W {
  background-color: #58fa82;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
}
.dataTable td .Loss,
.dataTable td .L {
  background-color: #fa5858;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
}

.dataTable td .Neg {
  border: 1px solid rgb(255 0 0 / 10%);
  padding: 2px 10px;
  border-radius: 12px;
  background-color: rgb(255 0 0 / 10%);
}
.dataTable td .Pos {
  border: 1px solid rgb(37 179 114 / 10%);
  padding: 2px 10px;
  border-radius: 12px;
  background-color: rgb(37 179 114 / 10%);
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 12px 10px;
}
